ASSETS_ROCKS_DB_PATH="path/to/assets/db"
ASSETS_ROCKS_DB_SECONDARY_PATH="path/to/assets_secondary/db"

SLOTS_ROCKS_DB_PATH="path/to/slots/db"
SLOTS_ROCKS_DB_SECONDARY_PATH="path/to/slots_secondary/db"

SOLANA_RPC="http://localhost:8080"

BIG_TABLE_CREDENTIALS="path/to/creds"
BIG_TABLE_TIMEOUT=10

SLOT_PERSISTER_START_SLOT=10
SLOT_PERSISTER_SLOTS=[1,2,3]
SLOT_PERSISTER_CHUNK_SIZE=1000
SLOT_PERSISTER_MAX_CONCURRENCY=100
SLOT_PERSISTER_METRICS_PORT=6090

SLOT_CHECKER_SLOTS=[1,2,3]

BACKFILL_START_SLOT=10
BACKFILL_WORKERS=50
BACKFILL_SLOTS=[1,2,3]
