[submodule "blockbuster"]
	path = blockbuster
	url = git@github.com:adm-metaex/blockbuster.git
	branch = feat/create-tree-with-root
[submodule "rollup-sdk"]
	path = rollup-sdk
	url = git@github.com:metaplex-foundation/rollup-sdk.git
	branch = feat/creators-verify
